/**
* All Rights Reserved
* This software is property information of AKUREY S.A.
* Contact us at contact@akurey.com
* @summary configs for the styles for the implementation of the task #2 of the web training, done by Esteban Mata
*/

$font: "Roboto Slab";

$card-width: 220px;
$card-height: 279px;

$card-radius: 20px;
$card-spacing: 20px;
$card-font-color: white;

$card-columns: 4;

$font-size: 22px;
