/**
* All Rights Reserved
* This software is property information of AKUREY S.A.
* Contact us at contact@akurey.com
* @summary styles for the data sections of the task #3 of the web training, done by Esteban Mata
*/
.data__section {
  margin: 0px $padding-desktop !important;
  margin-bottom: 48px !important;
  &__heading {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px !important;
    h2 {
      font: $font;
      font-weight: 400;
      font-size: 28px;
      color: $color-black;
    }
    button {
      margin-left: auto;
      color: $color-dark-01;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      background-color: transparent;
      border: none;
    }
  }

  .card__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 20px;
    overflow: scroll;
  }
}

@include media-breakpoint-down(lg) {
  .data__section {
    margin: 0px $padding-tablet !important;
  }
}

@include media-breakpoint-down(sm) {
  .data__section {
    margin: 0px !important;
    margin-left: $padding-mobile !important;
    &__heading {
      margin-right: $padding-mobile !important;
    }
    .card__container {
      gap: 15px;
    }
  }
}
