/**
* All Rights Reserved
* This software is property information of AKUREY S.A.
* Contact us at contact@akurey.com
* @summary styles for the sipnosis of the task #3 of the web training, done by Esteban Mata
*/

.sipnosis {
  .mobile__logo {
    display: none;
    &--expanded {
      display: none;
    }
  }

  &__image {
    position: relative;
    z-index: -1;
    img {
      width: 100%;
    }
  }

  &--gradient {
    display: none;
    visibility: hidden;
  }

  .collapse {
    margin: 0px;
  }
}

.collapse__card {
  border-radius: 6px;
  background-color: white;
  padding: 32px 16px;
  h1 {
    font-weight: 700;
    font-size: 22px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto";
    letter-spacing: 0.25px;
  }
}

#sipnosisButton {
  display: none;

  span {
    color: $color-dark-01;
    font-weight: 400;
    font-size: 18px;
  }
}
@include media-breakpoint-up(lg) {
  #SipnosisText {
    display: block;
  }

  .sipnosis {
    margin: 0 $padding-desktop !important;
    margin-top: 2px !important;
    display: flex;
    filter: drop-shadow(0px 0px 8px $color-light-01);
    &__image {
      border-radius: 16px 0px 0px 16px;
      min-height: 100%;
      img {
        min-height: 100%;
        border-radius: inherit;

        object-fit: cover;
      }
    }
  }
  .collapse__card {
    width: 300px;
    line-height: 20px;
    border-radius: 0px 6px 6px 0px;
  }
}

@include media-breakpoint-down(lg) {
  .collapse__card {
    padding: 8px;
    margin: 0px $padding-tablet !important;
    box-shadow: 0px 0px 8px $color-light-01;
    margin-top: -59px !important;
    z-index: 10;
  }

  #sipnosisButton {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid $color-dark-01;
  }
  .sipnosis {
    width: inherit;
  }
}

@include media-breakpoint-down(sm) {
  .sipnosis {
    .mobile__logo {
      &--expanded {
        display: block;
      }

      position: absolute;
      width: 163px;
      height: 58px;
      margin-top: -19px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--gradient {
      visibility: visible;
      position: absolute;
      width: 100%;
      height: 65%;
      left: 0;
      bottom: 0;
      display: block;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #ffffff 100%);
    }
    &--gradient::after {
      display: inline-block;
    }
  }

  .collapse {
    min-height: 256px;

    &__card {
      margin: 0px $padding-mobile !important;

      &--expanded {
        margin-top: 72px !important;
      }
      margin-top: 19px !important;
    }
  }
}
