/**
* All Rights Reserved
* This software is property information of AKUREY S.A.
* Contact us at contact@akurey.com
* @summary styles for the sipnosis of the task #3 of the web training, done by Esteban Mata
*/
.sipnosis {
  .mobile__logo {
    display: none;
    visibility: hidden;
  }

  &__image {
    position: relative;
    img {
      width: 100%;
    }
  }

  &--gradient {
    display: none;
    visibility: hidden;
  }

  .collapse {
    margin: 0px;
  }
}

@include media-breakpoint-down(lg) {
  .sipnosis {
    width: inherit;
  }
}

@include media-breakpoint-down(sm) {
  .sipnosis {
    .mobile__logo {
      display: block;
      visibility: visible;
      position: absolute;
      width: 163px;
      height: 58px;
      margin-top: -19px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--gradient {
      visibility: visible;
      position: absolute;
      width: 100%;
      height: 65%;
      left: 0;
      bottom: 0;
      display: block;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #ffffff 100%);
    }
    &--gradient::after {
      display: inline-block;
    }
  }

  .collapse {
    margin: 0 $padding-mobile;
    min-height: 256px;
  }
}
